#optionsBox{
    -fx-background-color: rgb(0, 0, 0);
    -fx-font: 14pt "Arial";
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-color: rgb(255, 255, 255);
}
#iniciar{
    -fx-background-color: rgb(0, 0, 0);
    -fx-font: 14pt "Arial";
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-radius: 20%;
    -fx-border-color: rgb(255, 255, 255);
}
#sendButton{
    -fx-background-color: rgb(0, 0, 0);
    -fx-font: 14pt "Arial";
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-color: rgb(255, 255, 255);
}
#sendButton:hover{
    -fx-effect: dropshadow(gaussian, #f9f9f9ea, 15, 0.1, 1, 1);
    -fx-background-color:rgb(128, 128, 128);
}
#voltar{
    -fx-background-color: rgb(0, 0, 0);
    -fx-font: 14pt "Arial";
    -fx-font-weight: bold;
    -fx-border-width: 4px;
    -fx-border-color: rgb(255, 255, 255);
}
#voltar:hover{
    -fx-effect: dropshadow(gaussian, #f9f9f9ea, 15, 0.1, 1, 1);
    -fx-background-color:rgb(128, 128, 128);
}